
{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-sm-2">
        <p>Filtrer</p>
          <form id="filterStatut">
              <p><input type="checkbox" name="statutArticle[]" id="brouillon" value="Brouillon">
                  <label for="brouillon">Brouillon</label></p>
              <p><input type="checkbox" name="statutArticle[]" id="publié" value="Publié">
                  <label for="publié">Publié</label></p>
              <p><input type="checkbox" name="statutArticle[]" id="corbeille" value="Corbeille">
                  <label for="corbeille">Corbeille</label></p>
          </form>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Catégorie
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for categorie in categories %}
              <li><a class="dropdown-item" href="{{path('filterCategorie', {'categorie': categorie.id})}}">{{categorie.nomCategorie}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Tag
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for tag in tags %}
              <li><a class="dropdown-item" href="{{path('filterTag', {'tag': tag.id})}}">{{tag.nomTag}}</a></li>
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col" id="content">
        {% include "home/_content.html.twig" %}
      </div>
  </div>

{% endblock %}
